<%- include('partials/header.ejs') %>
  <body>
    <a href="/">ICON</a>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  <a href="/explore">Explore</a>  <br><br>
  <a href="/profile">Profile</a>  <br><br>
<form class="" action="/home" method="POST">
  <input type="text" name="textContent" value="" placeholder="What's happening?"> <button type="submit" name="button">Post</button>
</form>


 <%  posts.forEach(function(p){  %>
   <a href="<%= p.id %>">
<h4>  <%= p.textContent %>  <form  action="<%= p.id %>?_method=DELETE" method="POST">
<button type="submit" name="button">X</button>
</form>

</form>  </h4>
</a>
<% }); %>


  </body>
<%- include('partials/footer') %>
